@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 10px;
  background-color: #dde6ed;
}
h1 {
  padding-bottom: 20px;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

input,
select {
  width: 50%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #444;
}

.navBar {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #526d82;
  border-radius: 10px;
}

.movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  text-align: center;
}

@media (max-width: 1110px) {
  .movie-cards {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 991px) {
  .movie-cards {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 480px) {
  .movie-cards {
    grid-template-columns: auto;
  }
}

.movie-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

#rating {
  color: rgba(201, 201, 32, 0.925);
}

#addMovie {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#add-movie-form {
  padding: 10px;
}
